<h1><strong><%= @movie.title %></strong></h1>
<a href="<%= @movie.link %>" target="_blank"><img src="<%= @movie.image_url %>" alt=""></a>
<ul>
  <li><strong>Release Date:</strong> <%= @movie.release_date %></li>
  <li><strong>Stars:</strong> <%= @movie.stars.gsub(/[^0-9a-z ]/i, '') %></li> <!-- check -->
  <li><strong>Rating:</strong> <%= @movie.rating %></li>
  <li><strong>Gernes:</strong> <%= @movie.genres.gsub(/[^0-9a-z ]/i, '') %></li> <!-- check -->
  <li><strong>Runtime:</strong> <%= @movie.runtime %></li>
  <li><strong>Summary:</strong> <%= @movie.summary %></li>
  <br><br><br>
  <% if !!@movie.comments %>
    <li><strong>Comments:</strong> <%= @movie.comments %></li>
    <li><strong><%= @movie.opinion %></strong></li>
    <a href="/movies/comments/<%= @movie.id %>/edit">Edit Comment/Opinion</a>
  <% else %>
    <a href="/movies/comments/<%= @movie.id %>">Leave Comment</a>
  <% end %>
</ul>
