<h6><a href="/users/<%= @user.id %>/edit">Edit Profile</a></h6>
<% if @user.pic_url.empty? %>
  <img src="https://image.freepik.com/free-photo/black-shade-anatomy-blue-wireframe-face-front-view-dark-background_48049-5.jpg" alt="Generic Profile Pic" style="width:100px;height:100px;">
<% else %>
  <img src="<%= @user.pic_url %>" alt="profile pic" style="width:100px;height:100px;">
<% end %>
<h1>Welcome, <%= @user.name %>!</h1>
<p><%= @user.email %></p>

 <!-- add css for border and background color -->
  <% @movies.each do |movie| %>
    <div class="movie-post" style="background-color:#d3d3d3;border-radius:25px 75px;margin:3px;padding:20px">
    <% if movie.opinion == "Liked" %>
      <h4 style="color:#fff;font-size:25px;padding:5px;-webkit-text-stroke: 1px green;"><strong><%= movie.opinion %></strong></h4>
    <% else %>
      <h4 style="color:#fff;font-size:25px;padding:5px;-webkit-text-stroke: 1px red;"><strong><%= movie.opinion %></strong></h4>
    <% end %>
    <h4 style="display:inline"><a href="<%= movie.link %>" target="_blank"><img src="<%= movie.image_url %>" alt="<%= movie.title %>" ></a></h4>
    <h2 style="display:inline;float:right"><%= movie.title %></h2><br>
    <h5><%= movie.user.name %> says:</h5>
    <h3><%= movie.comments %></h3>
    <h6><%= (movie.updated_at + Time.zone_offset('EST')).strftime("%a, %b %d %Y %I:%M%p") %></h6>
    <br><br>
    </div>
  <% end %>
  <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
